<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyMVCProject</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
    
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeInsertController</display-name>
    <servlet-name>EmployeeInsertController</servlet-name>
    <servlet-class>com.yamini.controller.EmployeeInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeInsertController</servlet-name>
    <url-pattern>/InsertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyDisplayController</display-name>
    <servlet-name>MyDisplayController</servlet-name>
    <servlet-class>com.yamini.controller.MyDisplayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyDisplayController</servlet-name>
    <url-pattern>/DisplayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>com.yamini.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyDeleteController</display-name>
    <servlet-name>MyDeleteController</servlet-name>
    <servlet-class>com.yamini.controller.MyDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyDeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
</web-app>